In [373]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import numpy as np

In [2]:
import pprint as pp

In [3]:
toronto_site = "https://www.torontorentals.com/toronto/condos?beds=1%2B"

In [4]:
import requests

In [5]:
requests.get(toronto_site)

In [5]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
browser.visit(toronto_site)

In [175]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [ ]:
browser.quit()

In [194]:
# find rent price
rent = soup.find_all("span", class_="replace rent")

In [195]:
rent

[<span class="replace rent">
 $2,250
 </span>,
 <span class="replace rent">
 $2,300
 </span>,
 <span class="replace rent">
 $1,850 - $2,250
 </span>,
 <span class="replace rent">
 $1,895
 </span>,
 <span class="replace rent">
 $1,975
 </span>,
 <span class="replace rent">
 $2,350
 </span>,
 <span class="replace rent">
 $2,200
 </span>,
 <span class="replace rent">
 $1,900
 </span>,
 <span class="replace rent">
 $1,975
 </span>,
 <span class="replace rent">
 $1,975
 </span>,
 <span class="replace rent">
 </span>]

In [9]:
# find address
address = soup.find_all("span", class_="replace street")

In [10]:
address

[<span class="replace street">5033 Four Springs Avenue</span>,
 <span class="replace street">90 Absolute Avenue</span>,
 <span class="replace street">149 Isaac Devins Boulevard</span>,
 <span class="replace street">833 King Street West</span>,
 <span class="replace street">197 Yonge St</span>,
 <span class="replace street">101 Charles Street East</span>,
 <span class="replace street">44 Gerrard Street West</span>,
 <span class="replace street">125 Redpath Avenue</span>,
 <span class="replace street">347 Sorauren Avenue</span>,
 <span class="replace street">22 East Haven Drive</span>,
 <span class="replace street"></span>]

In [12]:
# find bedroom number
soup.find("span", class_ = "replace bedrooms").text.strip()

'1'

In [13]:
num_bedrooms = soup.find_all("span", class_="replace bedrooms")

In [14]:
# find zip codes
num_zips = soup.find_all("span", class_ = "replace zip")

In [61]:
num_zips

[<span class="replace zip"> - L5R 0E4</span>,
 <span class="replace zip"> - L4Z 0A3</span>,
 <span class="replace zip"> - M9M 0C5</span>,
 <span class="replace zip"> - M5V 1N9</span>,
 <span class="replace zip"> - M5B 1M4</span>,
 <span class="replace zip"> - M4Y 0A9</span>,
 <span class="replace zip"> - M5G 2K2</span>,
 <span class="replace zip"> - M4S 0B5</span>,
 <span class="replace zip"> - M6R 2G5</span>,
 <span class="replace zip"> - M1N 1N1</span>,
 <span class="replace zip"> - </span>,
 <span class="replace zip"></span>]

In [188]:
# find bathroom number
soup.find("span", class_ = "replace bathrooms").text.strip()

'2'

In [189]:
num_bathrooms = soup.find_all("span",class_="replace bathrooms")

In [20]:
# find sqft
soup.find("span", class_ = "dims finer-detail").find("span").text.strip().split("f")[0]

'615'

In [199]:
num_sqft = soup.find_all("span",class_="replace dimensions")

In [257]:
sqft_list

['500', '700', '900', '650', '612', '600', '875', '700', '750', '950', '', '']

In [180]:
r = requests.get("https://www.torontorentals.com/toronto/condos?beds=1&p=1")

In [187]:
soup = BeautifulSoup(r.content)

In [186]:
href = soup.find("li",  class_="page-next").find("a")['href']
url = f"https://www.torontorentals.com{href}"
url

'https://www.torontorentals.com/toronto/condos?beds=1&p=3'

In [ ]:
for pages in range(245):
    url = f"https://www.torontorentals.com/toronto/condos?beds=1&p={pages}"

In [321]:
len(soup.find_all("span", class_ = "replace dimensions"))

23

In [371]:
zip_list

['M4Y',
 'M4S',
 'M8Z',
 'M6A',
 'M5B',
 'M4S',
 'M6J',
 'M5V',
 'M4Y',
 'M5B',
 'M5G',
 'M5J',
 'M5V']

In [336]:
items_count = 10

In [ ]:
# define empty lists
rent_list = []
address_list= []
zip_list = []
bedrooms_list = []
bathrooms_list = []
sqft_list = []

In [402]:

page = 1

while True:
# for i in range(3):
    url = f"https://www.torontorentals.com/toronto/condos?beds=1&p={page}"
    
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    
    if "Oops! We couldn't find the page" in r.text:
            print("complete")
            break
    for items in range(items_count):
        rent_list.append(soup.find_all("span", class_="replace rent")[items].text.strip())
        address_list.append(soup.find_all("span", class_="replace street")[items].text.strip())
        try:
            zip_list.append(soup.find_all('span', class_ = 'replace zip')[items].text.split()[1])
        except:
            zip_list.append(np.nan)

    
    for beds in range(20):
        bedrooms_list.append(soup.find_all("span", class_="replace bedrooms")[beds].text.strip())
        bathrooms_list.append(soup.find_all("span", class_ = "replace bathrooms")[beds].text.strip())
        sqft_list.append(soup.find_all("span",class_="replace dimensions")[beds].text.strip().split("f")[0])


            
#   track page number (progress)
    print(page)
    page += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245

IndexError: list index out of range

In [418]:
# check for values with actual webpages scraped
# noticed that the last 3 values are extras not associated with actual data
rent_list[:10]
rent_list[-10:]
address_list[-10:]
sqft_list[::2][-10:]
zip_list[-10:]

['M8V', 'M8Z', 'M8V', 'M9C', 'L6T', 'L6S', 'L6R', 'L6Y', 'L6Y', nan]

In [417]:
rent_list[:2450]

['$2,150',
 '$2,550',
 '$2,500',
 '$2,950',
 '$2,500',
 '$2,100',
 '$2,000',
 '$2,200',
 '$2,400',
 '$2,300']

In [420]:
# create checkpoints in case we lose the data
rent_chk = rent_list[:2450]
address_chk = address_list[:2450]
zip_chk = zip_list[:2450]
bedrooms_chk = bedrooms_list[::2]
bathrooms_chk = bathrooms_list[::2]
sqft_chk = sqft_list[::2]

In [421]:
# create dataframe to store the scrapped data
rent_df = pd.DataFrame({"Rent": rent_chk,
                       "Address": address_chk,
                       "Zip": zip_chk,
                       "num_bedrooms": bedrooms_chk,
                       "num_bathrooms": bathrooms_chk,
                       "num_sqft": sqft_chk})

In [422]:
rent_df.head()

     Rent                  Address  Zip num_bedrooms num_bathrooms num_sqft
0  $3,300           85 Wood Street  M4Y            3             2      810
1  $2,295       300 Balliol Street  M4S            1             1      600
2  $2,300          8 Fieldway Road  M8Z            1             1
3  $1,950      160 Flemington Road  M6A            2             2      630
4  $2,045  117 Gerrard Street East  M5B            1             1

In [424]:
# export as csv
rent_df.to_csv("toronto_rent_data.csv", index = False)

In [ ]:
# browser.find_by_css('.page-next').first.click()

In [423]:
browser.quit()